@import 'node_modules/bootstrap/scss/bootstrap';

// CSS RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Regole Generali
html {
    font-family: 'Nunito', sans-serif;
    min-width: 332px;
    max-height: 100%;
    background-image: url(back1.jpg);
}